<ul *ngIf="isLoggedIn()" class="nav navbar-nav navbar-right">
  <li class="dropdown" dropDown id="dropDownNav">
    <a class="dropdown-toggle" role="button">
      <span class="glyphicon glyphicon-user"></span>
      <!--{{ (isLoggedIn()) ? (currentUserName()) : ('header.account' | translate) }}-->
      {{user.name}}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" id="accountDropdownMenu">
      <li><a class="mousePointer" routerLink="account">{{ 'header.editAccount' | translate }}  <span class="glyphicon glyphicon-edit"></span></a></li>
    </ul>
  </li>
</ul>
