<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="" id="brandImage">MyWeather</a>
    </div>

    <div class="collapse navbar-collapse" [collapse]="isCollapsed">

      <form class="navbar-form navbar-left" id="formHeader">
        <input id="searchInpurHeader" type="text" class="form-control" placeholder="{{ 'header.searchPlaceHolder' | translate }}">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" dropDown id="dropDownNav">
          <a class="dropdown-toggle" role="button"><span class="glyphicon glyphicon-user"></span> {{ 'header.account' | translate }} <span class="caret"></span></a>
          <ul class="dropdown-menu" id="accountDropDown">
            <form class="navbar-form" id="loginForm">
              <!--<li role="separator" class="divider"></li>-->
              <li><input type="text" class="form-control" placeholder="{{ 'header.emailPlaceHolder' | translate }}"></li>
              <li><input type="text" class="form-control" placeholder="{{ 'header.passwordPlaceHolder' | translate }}"></li>
              <li><button type="submit" class="btn btn-primary btn-sm" style="width: 100%">{{ 'header.signInButton' | translate }}</button> </li>
              <li role="separator" class="divider"></li>
              <li><a routerLink="signup"> {{ 'header.signUp' | translate }} </a> | <a routerLink="forgotPassword"> {{ 'header.forgotPassword' | translate }} </a> </li>
            </form>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
