#searchInpurHeader {
  max-width: 250px;
  float: left;
  margin-right: 10px;
}

.in #formHeader {
  /* margin-top: -1px; */
  border-top: none;
}

#brandImage,
.mousePointer {
  cursor: pointer;
}

#languageDropdownMenu {
  min-width: 90px;
}

