<ul class="nav navbar-nav">
  <li class="dropdown" dropDown>
    <form class="navbar-form navbar-left dropdown-toggle" id="formHeader">
      <input #inputSearch
             id="searchInpurHeader"
             type="text"
             class="form-control"
             autocomplete="off"
             placeholder="{{ 'search.searchPlaceHolder' | translate }}"
             [ngClass]="{loading: internalState.isLoading}">
    </form>
    <ul *ngIf="internalState.showResults" class="dropdown-menu results row">
      <li *ngFor="let weather of internalState.results; trackBy: trackByWeatherId">
        <a class="mousePointer search-result-item">
          <app-search-result [weather]="weather"
                             [isAuthorized]="isAuthorized$"
                             [weathersOnCurrentDashboard]="weathersOnCurrentDashboard$"
                             (addClick)="addToDashboard($event)"
                             (removeClick)="removeFromDashboard($event)">
          </app-search-result>
        </a>
      </li>
    </ul>
  </li>
</ul>
