<ul class="nav navbar-nav">
  <li class="dropdown" dropDown>
    <form class="navbar-form navbar-left dropdown-toggle" id="formHeader">
      <input #inputSearch
             id="searchInpurHeader"
             type="text"
             class="form-control"
             autocomplete="off"
             placeholder="{{ 'search.searchPlaceHolder' | translate }}"
             [ngClass]="{loading: internalState.isLoading}">
    </form>
    <ul *ngIf="internalState.showResults" class="dropdown-menu  results row">
      <li *ngFor="let weather of internalState.results; trackBy: trackByWeatherId">
        <a class="mousePointer search-result-item">
          <app-search-result [weather]="weather"
                             [isAuthorized]="isAuthorized$"
                             [weathersOnCurrentDashboard]="weathersOnCurrentDashboard$"
                             (addClick)="addToDashboard($event)"
                             (removeClick)="removeFromDashboard($event)">
          </app-search-result>
        </a>
      </li>
    </ul>
  </li>
</ul>

<!--
<ul class="nav navbar-nav left">
    <li class="dropdown" dropDown id="dropDownNav">
        <form class="navbar-form navbar-left dropdown-toggle" id="formHeader">
          <input #inputSearch
                 id="searchInpurHeader"
                 type="text"
                 class="form-control"
                 autocomplete="off"
                 placeholder="{{ 'search.searchPlaceHolder' | translate }}"
                 [ngClass]="{loading: isLoading}">
        </form>
        <ul class="dropdown-menu dropdown-menu-left results row">
          <li *ngFor="let weather of results;" class="mousePointer result-row">
            <span class="list-group-item-text">{{weather.title | slice:0:50 }}</span>
          </li>
        </ul>
    </li>
  </ul>
-->

<!--<ul class="nav navbar-nav">
  <li class="dropdown" dropDown>
    <a class="dropdown-toggle" role="button">
      asd
    </a>
    <ul class="dropdown-menu" id="accountDropdownMenu">
      <li><a class="mousePointer" routerLink="account">asdaaasdasdasdasdasdasdasdadsasdaaasdasdasdasdasdasdasdadsasdaaasdasdasdasdasdasdasdads</a></li>
    </ul>
  </li>
</ul>-->

