<form #container class="navbar-form navbar-left" id="formHeader">
  <input
    #inputSearch
    id="searchInpurHeader"
    type="text"
    class="form-control"
    autocomplete="off"
    placeholder="{{ 'search.searchPlaceHolder' | translate }}"
    [ngClass]="{loading: isLoading}"
  >
  <div *ngIf="showResults()" class="row results">
    <div class="col-xs-12">
      <ul style="padding: 0px" >
        <li *ngFor="let weather of searchResults; trackBy: trackByWeatherId" class="list-group-item clearfix mousePointer">
          <span class="list-group-item-text">{{weather.title | slice:0:50 }}</span>
          <span *ngIf="isAuthorized$ | async as isAuthorized" style="float: right">
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <button
              *ngIf="!weatherIsOnCurrentDashboard(weather); else showRemove"
              class="btn btn-success btn-xs"
              (click)="addToDashboard(weather)"
              [disabled]="!isAuthorized"
            >Add</button>
            <ng-template #showRemove>
              <button
                (click)="removeFromDashboard(weather)"
                class="btn btn-danger btn-xs"
                [disabled]="!isAuthorized"
              >Remove</button>
            </ng-template>
          </span>
        </li>
      </ul>
    </div>
  </div>
</form>
<!--

<form #container class="navbar-form navbar-left" id="formHeader">
  <input
    #inputSearch
    id="searchInpurHeader"
    type="text"
    class="form-control"
    autocomplete="off"
    placeholder="{{ 'search.searchPlaceHolder' | translate }}"
    [ngClass]="{loading: isLoading}"
  >
  <div *ngIf="showResults()" class="row results">
    <div class="col-xs-12">
      <ul style="padding: 0px" >
        <li *ngFor="let weather of searchResults; trackBy: trackByWeatherId" class="list-group-item clearfix mousePointer">
          <span class="list-group-item-text">{{weather.title | slice:0:50 }}</span>
          <span *ngIf="isAuthorized$ | async as isAuthorized" style="float: right">
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <button
              *ngIf="!weatherIsOnCurrentDashboard(weather); else showRemove"
              class="btn btn-success btn-xs"
              (click)="addToDashboard(weather)"
              [disabled]="!isAuthorized"
            >Add</button>
            <ng-template #showRemove>
              <button
                (click)="removeFromDashboard(weather)"
                class="btn btn-danger btn-xs"
                [disabled]="!isAuthorized"
              >Remove</button>
            </ng-template>
          </span>
        </li>
      </ul>
    </div>
  </div>
</form>
-->
