<ul id="signUpContainer">
<form @FormFadeIn *ngIf="!isForgot" class="navbar-form" id="loginSignInForm">
  <li>{{ 'header.signInButton' | translate }}</li>
  <li role="separator" class="divider"></li>
  <li><input type="text" class="form-control" placeholder="{{ 'header.emailPlaceHolder' | translate }}"></li>
  <li><input type="text" class="form-control" placeholder="{{ 'header.passwordPlaceHolder' | translate }}"></li>
  <li><button type="submit" class="btn btn-primary btn-sm" style="width: 100%">{{ 'header.signInButton' | translate }}</button> </li>
  <li role="separator" class="divider"></li>
  <li><a routerLink="signup"> {{ 'header.signUp' | translate }} </a> | <a (click)="isForgot=true"> {{ 'header.forgotPassword' | translate }} </a> </li>
</form>
<form @FormFadeIn *ngIf="isForgot" class="navbar-form" id="loginSignUpForm">
  <li>{{ 'header.forgotPassword' | translate }}</li>
  <li role="separator" class="divider"></li>
  <li><input type="text" class="form-control" placeholder="{{ 'header.emailPlaceHolder' | translate }}"></li>
  <li><button type="submit" class="btn btn-primary btn-sm" style="width: 100%">{{ 'header.forgotSubmit' | translate }}</button> </li>
  <li role="separator" class="divider"></li>
  <li><a (click)="isForgot=false"> {{ 'header.forgotBack' | translate }} </a> </li>
</form>
</ul>
