<a [@weatherContainer]="stateOver" id="location_row" class="list-group-item list-group-item-action" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()"><!-- active -->
  <div class="row">
    <div class="col-md-1">
      <div class="row">
        <div class="col-md-12 condition-text">
          <div><span style="font-weight: bold">{{ weather.forecast[0]['date'] }}</span><br>{{ weather.condition.text }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="temperature">{{ weather.condition.temp }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="high">High: {{ weather.forecast[0]['high'] }}</div>
          <hr class="highLowSpacer">
          <div class="low">Low: {{ weather.forecast[0]['low'] }}</div>
        </div>
      </div>
    </div>
    <div class="col-md-11">
      <div class="row">
        <div class="col-md-11">
          <h3 class="list-group-item-heading">{{ weather.title }}</h3>
          <div class="list-group-item-text">{{ weather.description }}</div>
        </div>
        <div class="col-md-1">
          <button class="btn btn-danger btn-xs" style="float: right" (click)="removeWeather()">x</button>
        </div>
      </div>
      <hr class="titleSpacer">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-inline">
            <li class="forecast-container" *ngFor="let forecast of weather.forecast">
              <app-forecast [forecast]="forecast"></app-forecast>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</a>
