<a [@weatherContainer]="stateOver" id="location_row" class="list-group-item list-group-item-action" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()"><!-- active -->

  <div class="row">

    <div class="col-sm-12">

      <div class="row">

        <div *xs class="col-sm-1 removeXs">
          <button class="btn btn-danger btn-xs" style="float: right" (click)="removeWeather()">x</button>
        </div>

        <div class="col-sm-11">
          <span style="font-weight: bold">{{ weather.forecast[0]['date'] }}</span> | <span style="font-weight: bold">{{ weather.condition.text }}</span>
          <h3 class="list-group-item-heading">{{ weather.title }}</h3>
          <div class="list-group-item-text">{{ weather.description }}</div>
        </div>

        <div *hideItBootstrap="['xs']" class="col-sm-1">
          <button class="btn btn-danger btn-xs" style="float: right" (click)="removeWeather()">x</button>
        </div>

      </div>

      <hr class="titleSpacer">

      <div class="row">

        <div class="col-sm-2 col-xs-6">
          <span class="temperature">{{ weather.condition.temp | tempConverter : unitTo}}</span><span class="tempIcon">&deg;</span>
        </div>

        <div *hideItBootstrap="['xs']">
          <div class="col-sm-1 forecast-container" *ngFor="let forecast of weather.forecast">
            <app-forecast [forecast]="forecast"></app-forecast>
          </div>
        </div>

        <div *xs class=" forecast-container col-xs-6">
          <app-forecast [forecast]="weather.forecast[1]"></app-forecast>
        </div>

      </div>

    </div>

  </div>

</a>
