<ul class="nav navbar-nav navbar-right">
  <li class="dropdown" dropDown #dropDownMenu [ngClass]="{'dropdown-mobile': isMobile}">
    <a class="dropdown-toggle" role="button"><span class="glyphicon glyphicon-flag"></span></a>
    <ul *ngIf="showMenu" [ngClass]="{'dropdown-menu-mobile': isMobile}" class="dropdown-menu">
      <li ><a class="mousePointer" (click)="changeLang('en')">English</a></li>
      <li ><a class="mousePointer"  (click)="changeLang('es')">Español</a></li>
    </ul>
  </li>
</ul>
