<ul class="nav navbar-nav navbar-right">
  <li class="dropdown" dropDown  #dropDownMenu [ngClass]="{'dropdown-mobile': isMobile}">
    <a class="dropdown-toggle" role="button" [ngClass]="{'signOutLink': isLoggedIn}">
      <ng-container *ngIf="!isLoggedIn">
        <span class="glyphicon glyphicon-user"></span>
        {{ (showLabelIcon) ? ('header.account' | translate) : '' }}
        <span *ngIf="!isLoggedIn" class="caret"></span>
      </ng-container>
      <a (click)="signout()" *ngIf="isLoggedIn">
        <span class="glyphicon glyphicon-log-out"></span>
        {{ (showLabelIcon) ? ('header.signOut' | translate) : '' }}
      </a>
    </a>
    <ul *ngIf="!isLoggedIn && showMenu" [ngClass]="{'dropdown-menu-mobile': isMobile}" class="dropdown-menu" id="accountDropdownMenu">
      <li>
        <ul @FormFadeIn *ngIf="!isForgot" class="signInWrapper">
          <app-sign-in (siginEvent)="signin($event)" (switchForgotEvent)="switchForgot()" [wrongCredentials]="wrongCredentials"></app-sign-in>
        </ul>
        <ul  @FormFadeIn *ngIf="isForgot" class="signInWrapper">
          <app-forgot (switchForgotEvent)="switchForgot()"></app-forgot>
        </ul>
      </li>
    </ul>
  </li>
</ul>
