input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched{
  border: 1px solid red;
}

.help-block {
  color: #ff0000!important;
}

#preloader img {
  width: 150px;
  margin-top: -20px;
  margin-left: -50px;
}
